.navigation {
  background-color: #007179;
}

.navLink {
  color: #e4e4e4;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  text-decoration: none;
}

.navLink:hover {
  color: #ffffff;
}

.navLogo {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
}
