@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

body {
  background-color: #202020;
  font-family: "Outfit", sans-serif;
}

p {
  color: white;
}

.homeForm {
  width: 100%;
  margin: auto;
  max-width: 500px;
}
.homeSubmitBtn {
  background-color: #007179;
  border-color: white;
}
.homeSubmitBtn:hover {
  background-color: #ffffff;
  color: black;
  border-color: black;
}

.homeImg {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.lead {
  margin-bottom: 4rem;
}

.sumControl:focus {
  border-color: #007179;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #007179;
  outline: 0 none;
}
/*SUMMONER NAV TABS*/
.nav-tabs .nav-link {
  border-radius: 0;
  border: 0;
}

/* SUMMONER BRIEF */
.sumBriefContainer {
  margin-top: 1em;
  padding: 1em;
  background-color: #3b3b3b;
  color: white;
  font-size: 1em;
  border-radius: 15px;
  min-height: 150px;
  /*max-height: 150px;*/
}
.sumBriefImg {
  max-width: 100%;
}


/*Mastery and league container*/
.MLContainer
{
  border-radius: 15px;
  margin-top: 1em;
  padding: 1em;
  background-color: #2b2b2b;
   
}

.sumHeaderText > h1, h3{
  text-shadow: 1px 1px 2px black;
}


/* LEAGUE BRIEF */

.leagueImg {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
}
.nav-link {
  color: white;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #007179;
  color: white;
}

.nav-link:hover {
  color: #007179;
}

.chart > h5 {
  display: block;
  margin: auto;
}

/*SUMMONER HISTORY*/
.historyContainer {
  margin-top: 1em;
  padding: 1em;
  background-color: #2b2b2b;
  color: white;
  font-size: 1em;
  border-radius: 15px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.defeat {
  background-color: #522424;
}

.victory {
  background-color: #223f25;
}

.TFTvictory {
  background-color: #71723a;
}

.historyChampIcon {
  width: 100%;
  max-width: 100px;
  border-radius: 5px;
}

.historyRow {
  background-color: rgba(0, 0, 0, 0);
}
.historySummonerSpell {
  width: 100%;
  max-width: 20px;
  border-radius: 3px;
}
.accordion-button {
  background-color: rgba(0, 0, 0, 0);
}

.accordion-button:not(.collapsed) {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.accordion-button:focus {
  border: 0;
  box-shadow: none;
}

.accordion-item {
  border: none;
}
/*ItemSETS*/
.itemSet {
  margin-left: 3 rem;
}
.item {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-left: 5px;
}

.empty {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #202020;
  margin-left: 5px;
}

footer > hr {
  border-top: 1px solid white;
  max-width: 720px;

  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer {
  position: relative;
  bottom: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.wip {
  color: white;
}

.container > h3,
h5 {
  color: white;
}
